nav(class=['navbar', 'bg-danger', 'navbar-dark', 'navbar-expand-sm', 'sticky-top'])
	.container-fluid
		.navbar-header
			a(href="/").navbar-brand SAGA Medium
		ul(class=['nav', 'navbar-nav'])
			li.nav-item
				a(href="/topic/1", class=['nav-link']) Topic 1
			li.nav-item
				a(href="/topic/2", class=['nav-link']) Topic 2
		ul(class=['nav', 'navbar-nav', 'navbar-right'])
			li.nav-item
				a(href="/profile", class=['nav-link']) Login
			li.nav-item
				a(href="/logout", class=['nav-link']) Logout