extends layout.pug

block content
	hr
	h1 Welcome
	hr
	.row
		.col-md-6 
			.card
				.card-header 
					a(href="/post/A/1").class POST 1
				.card-body Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit repellat veniam rerum quisquam, ipsam labore facilis, unde vero fugit voluptas quasi alias, magni quod modi amet consectetur quam! Explicabo, repellendus.
			.card
				.card-header 
					a(href="/post/B/2").class POST 2
				.card-body Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit repellat veniam rerum quisquam, ipsam labore facilis, unde vero fugit voluptas quasi alias, magni quod modi amet consectetur quam! Explicabo, repellendus.
		.col-md-6 
			.card
				.card-header 
					a(href="/post/A/3").class POST 3
				.card-body Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit repellat veniam rerum quisquam, ipsam labore facilis, unde vero fugit voluptas quasi alias, magni quod modi amet consectetur quam! Explicabo, repellendus.
			.card
				.card-header 
					a(href="/post/B/4").class POST 4
				.card-body Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit repellat veniam rerum quisquam, ipsam labore facilis, unde vero fugit voluptas quasi alias, magni quod modi amet consectetur quam! Explicabo, repellendus.
	
	//- h1 Welcome
	//- p
	//- 	a(href="/protected") Try this
	//- p
	//- 	a(href="/role1") Are you role 1?
	//- p
	//- 	a(href="/role2") Are you role 2?
	//- p
	//- 	a(href="/otherapp") We have a visitor
	//- p
	//- 	a(href="/ad") This look suspicious...
		