html
	head
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css", rel="stylesheet")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js")
		title=title
	body
		//- navigation bar
		include header
			
		//- main content
		.container
			block content

		//- footer
		//- include footer
		
		//- a(href="/logout") I'm outta here
			