extends layout.pug

block content
	hr
	h1 Post #{post}
	h6
		i
			a(href="/author/"+author) -- Author #{author} --
	hr
	p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam quos animi, quod inventore cum fugiat, dolor dolores cupiditate id praesentium possimus eum beatae! Sequi optio eveniet cum possimus, iure placeat.


