extends layout.pug

block content
	hr
	h1 Topic #{topic}
	hr
	.row
		.col-md-6 
			.card
				.card-header 
					a(href="/post/A/3") POST 3
				.card-body Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit repellat veniam rerum quisquam, ipsam labore facilis, unde vero fugit voluptas quasi alias, magni quod modi amet consectetur quam! Explicabo, repellendus.
		.col-md-6
			.card
				.card-header 
					a(href="/post/B/4") POST 4
				.card-body Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit repellat veniam rerum quisquam, ipsam labore facilis, unde vero fugit voluptas quasi alias, magni quod modi amet consectetur quam! Explicabo, repellendus.

